<mat-list>
  <mat-list-item class="list-item">
    <mat-icon class="right-space">dashboard</mat-icon>
    <nav>
      <span mat-line [routerLink]="['/']" routerLinkActive="router-link-active" (click)="close()">
        Dashboard
      </span>
    </nav>
  </mat-list-item>

  <mat-list-item class="list-item">
    <mat-icon class="right-space">list</mat-icon>
    <nav>
      <span mat-line [routerLink]="['/ruchers']" routerLinkActive="router-link-active" (click)="close()">
        Ruchers
      </span>
    </nav>
  </mat-list-item>

 <mat-list-item class="list-item">
   <mat-icon class="right-space">person</mat-icon>
    <nav>
      <span mat-line [routerLink]="['/profile']" routerLinkActive="router-link-active" (click)="close()">
        Profile
      </span>
    </nav>
  </mat-list-item>

  <mat-list-item class="list-item">
    <mat-icon class="right-space">settings</mat-icon>
    <nav>
      <span mat-line [routerLink]="['/settings']" routerLinkActive="router-link-active" (click)="close()">
        Paramètres
      </span>
    </nav>
  </mat-list-item>

  <mat-list-item class="list-item">
    <mat-icon class="right-space">assignment</mat-icon>
    <nav>
      <span mat-line [routerLink]="['/reports']" routerLinkActive="router-link-active" (click)="close()">
        Rapports
      </span>
    </nav>
  </mat-list-item>

  <mat-list-item class="list-item">
    <button mat-flat-button class="btn-space" (click)="logout()">
      <span class="right-space">Se Déconnecter</span>
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
