.app-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    .app-sidenav {
        background-color: #bbbbbb;
    }

    .app-btn-menu {
        position: absolute;
        top: 0;
        left: 0;
    }
}