.app-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;

    .app-sidenav {
        background-color: #0077B5;
        min-width: 300px;
    }

    .app-btn-menu {
        position: absolute;
        top: 0;
        left: 0;
    }
}