<app-header [title]="title"></app-header>
<mat-card>
  <mat-card-header>Eyindaka mabe</mat-card-header>
  <mat-card-content>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit dolor tempora iusto, alias, deleniti molestiae molestias totam maiores tenetur doloribus quis at corporis quaerat? Omnis asperiores eum voluptate nesciunt. Eligendi, ex eum! Sed harum illum qui rem corrupti atque hic odit ratione temporibus enim eaque delectus facere, culpa sit architecto maxime similique perferendis quia. Molestiae est consequatur fuga sed culpa vitae voluptatibus doloremque, illo sunt eos quis distinctio eius. Sunt eaque vero omnis cumque aperiam magnam sed labore!
    </p>
  </mat-card-content>
</mat-card>