.dashboard-card {
    margin-bottom: 10px;

    .dashboard-layout {
        display: block;
        min-height: 300px;
    }

    @media screen and (min-width: 1024px) {
        .dashboard-layout {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-column-gap: 1em;

            .column-layout {
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .datepicker {
                height: 265px;
                width: 235px;
                margin: 0 auto;
            }
        }
    }
}