<!-- <app-header [title]="title"></app-header> -->
<mat-card>
  <mat-card-header>Yes we can</mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam molestiae, magni placeat esse quia labore odio
      consectetur quo illo reiciendis amet? Quam, error blanditiis. Eligendi tempora perspiciatis inventore iusto
      voluptatibus minima veniam odio, recusandae officiis repudiandae omnis quo alias hic quod maiores numquam aliquid
      ea dolorum. Architecto dolorum in hic.
    </p>
  </mat-card-content>
</mat-card>
