.dashboard-card {
    margin-bottom: 10px;

    .dashboard-layout {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1em;

        .column-layout {
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .datepicker {
            margin: 0 auto;
        }
    }
}