.dashboard-card {
    margin-bottom: 10px;

    .dashboard-layout {
        display: block;
    }

    @media screen and (min-width: 1024px) {
        .dashboard-layout {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-column-gap: 1em;

            .column-layout {
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .datepicker {
                max-height: 280px;
                max-width: 280px;
                margin: auto 0;
            }
        }
    }
}